@use "mixins" as *;

.patient-title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--content-disabled);

  svg {
    cursor: pointer;

    g {
      transition: fill 0.3s ease, stroke 0.3s ease;
    }

    &:hover g {
      fill: var(--content-accent);
      stroke: var(--content-accent);
    }
  }

  h1 {
    color: var(--content-primary);
    font-size: 28px;
    font-weight: 700;

    @include media-max(laptop) {
      font-size: 26px;
    }

    @include media-max(tablet) {
      font-size: 24px;
    }

    @include media-max(mobile_l) {
      font-size: 22px;
    }
  }

  .btn {
    margin-left: auto;
  }


  @include media-max(laptop) {
    margin-bottom: 25px;
  }

  @include media-max(tablet) {
    margin-bottom: 20px;
  }

  @include media-max(mobile_l) {
    margin-bottom: 15px;
  }
}

.patient-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;

  @include media-max(tablet) {
    gap: 25px;
  }

  @include media-max(mobile_l) {
    gap: 20px;
  }
}

.patient-info {
  display: flex;
  align-items: center;
  gap: 15px;

  span {
    font-weight: 900;
  }

  &:last-child {
    align-items: flex-start;

    span {
      position: relative;
      top: 5px;
    }
  }
}

.patient-subtitle {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: var(--background-Light-accent);
  border-radius: var(--border-radius);

  h2 {
    color: var(--content-primary);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.1px;
  }
}

.patient-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;

  @include media-max(tablet) {
    flex-direction: column;
  }
}

.patient-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  gap: 5px;

  .input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--content-tertiary);
    color: var(--content-primary);
    outline: none;
    caret-color: var(--content-primary);
    transition: border 0.3s ease;

    &::placeholder {
      color: var(--content-disabled);
    }

    &:focus {
      border: 1px solid var(--content-accent);
    }

    &:disabled {
      border: 0.5px solid var(--content-disabled);
      cursor: not-allowed;
      opacity: 0.5;
    }

    @include media-max(laptop) {
      height: 56.66px;
    }

    @include media-max(tablet) {
      height: 53.33px;
    }

    @include media-max(mobile_l) {
      height: 50px;
    }
  }

  .label {
    font-size: 18px;
    margin-left: 5px;

    @include media-max(laptop) {
      font-size: 17px;
    }

    @include media-max(tablet) {
      font-size: 16px;
    }

    @include media-max(mobile_l) {
      font-size: 15px;
    }
  }

  .span {
    position: relative;
    color: var(--content-negative);
    margin-left: 10px;
    font-size: 12px;
  }
}

.patient-gender {
  display: flex;
  gap: 30px;
  margin-top: 10px;

  input[type="radio"] {
    display: none;
  }

  label {
    position: relative;
    padding-left: 32.5px;
    cursor: pointer;
    font-size: 18px;
    color: var(--content-primary);
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 23px;
      height: 23px;
      border: 2px solid var(--content-accent);
      border-radius: 50%;
      background: #fff;
      transition: border-color 0.2s;

      @include media-max(laptop) {
        width: 22px;
        height: 22px;
      }

      @include media-max(tablet) {
        width: 21px;
        height: 21px;
      }

      @include media-max(mobile_l) {
        width: 20px;
        height: 20px;
      }
    }

    @include media-max(laptop) {
      padding-left: 30px;
      font-size: 17px;
    }

    @include media-max(tablet) {
      padding-left: 27.5px;
      font-size: 16px;
    }

    @include media-max(mobile_l) {
      padding-left: 25px;
      font-size: 15px;
    }
  }

  input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 6.1px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: var(--content-accent);
    border-radius: 50%;

    @include media-max(laptop) {
      left: 5.6px;
    }

    @include media-max(tablet) {
      left: 5.2px;
    }

    @include media-max(mobile_l) {
      left: 5px;
    }
  }

  input[type="radio"]:focus + label::before {
    border-color: var(--content-secondary);
    box-shadow: 0 0 0 2px var(--content-accent-light);
  }

  @include media-max(laptop) {
    gap: 30px;
    margin-top: 8.33px;
    font-size: 17px;
  }

  @include media-max(tablet) {
    gap: 25px;
    margin-top: 6.66px;
    font-size: 16px;
  }

  @include media-max(mobile_l) {
    gap: 20px;
    margin-top: 5px;
    font-size: 15px;
  }
}
