@use "variables.scss";
@use "reset.scss";
@use "login.scss";
@use "header.scss";
@use "headerSearch.scss";
@use "headerUser.scss";
@use "message.scss";
@use "app.scss";
@use "patient.scss";
@use "btn.scss";
@use "textarea.scss";
@use "timeline.scss";
@use "pagination.scss";
@use "animation.scss";