<!DOCTYPE html>
<html lang="fr">
<head th:replace="~{fragments/head :: head( ${'Patient: ' + (patient?.lastName ?: '?') + ' ' + (patient?.firstName ?: '?') + ' | Diabetes detection'}, 'Le détail du patient' )}"></head>
<body>
<header class="header" th:replace="~{fragments/header :: header}"></header>
<div class="message-success" th:if="${successMessage}">
    <p th:text="${successMessage}"></p>
</div>
<div class="message-error" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>
<main>
    <div class="app-content">
        <div class="patient-title">
            <svg height="40" th:onclick="|window.location.href='@{/app}'|" viewBox="0 0 24 24" width="40"
                 xmlns="http://www.w3.org/2000/svg">
                <g stroke="var(--content-secondary)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M19 12h-13.5" stroke-dasharray="16" stroke-dashoffset="16">
                        <animate attributeName="stroke-dashoffset" dur="0.4s" fill="freeze" values="16;0"/>
                    </path>
                    <path d="M5 12l5 5M5 12l5 -5" stroke-dasharray="10" stroke-dashoffset="10">
                        <animate attributeName="stroke-dashoffset" begin="0.4s" dur="0.4s" fill="freeze" values="10;0"/>
                    </path>
                </g>
            </svg>
            <h1 th:text="(${#strings.toUpperCase(patient?.gender)}=='M' ? 'M. ' : (${#strings.toUpperCase(patient?.gender)}=='F' ? 'Mme ' : '')) + (${#strings.toUpperCase(patient?.lastName) ?: 'Inconnu'}) + ' ' + (${patient?.firstName ?: ''})"></h1>
            <button class="btn"
                    th:if="${patient?.id !=null}"
                    th:onclick="|window.location.href='@{/patient/edit/{id}(id=${patient.id})}'|">
                Modifier
            </button>
        </div>
        <div class="patient-content">
            <div class="patient-info" th:switch="${#strings.toUpperCase(patient?.gender)}">
                <svg height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
                    <g fill="var(--content-accent)" fill-opacity="0" stroke="var(--content-secondary)"
                       stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="2">
                        <path d="M12 5c1.66 0 3 1.34 3 3c0 1.66 -1.34 3 -3 3c-1.66 0 -3 -1.34 -3 -3c0 -1.66 1.34 -3 3 -3Z"
                              stroke-dasharray="20"
                              stroke-dashoffset="20">
                            <animate attributeName="stroke-dashoffset" dur="0.4s" fill="freeze" values="20;0"/>
                        </path>
                        <path d="M12 14c4 0 7 2 7 3v2h-14v-2c0 -1 3 -3 7 -3Z" stroke-dasharray="36"
                              stroke-dashoffset="36">
                            <animate attributeName="stroke-dashoffset" begin="0.5s" dur="0.5s" fill="freeze"
                                     values="36;0"/>
                        </path>
                        <animate attributeName="fill-opacity" begin="1.1s" dur="0.15s" fill="freeze" values="0;0.3"/>
                    </g>
                </svg>
                <span th:case="'M'">Masculin</span>
                <span th:case="'F'">Féminin</span>
            </div>
            <div class="patient-info">
                <svg height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
                    <rect fill="var(--content-accent)" fill-opacity="0.3" height="0" width="14" x="5" y="5">
                        <animate attributeName="height" begin="0.6s" dur="0.2s" fill="freeze" values="0;3"/>
                    </rect>
                    <g fill="none" stroke="var(--content-secondary)" stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="2">
                        <path d="M12 4h7c0.55 0 1 0.45 1 1v14c0 0.55 -0.45 1 -1 1h-14c-0.55 0 -1 -0.45 -1 -1v-14c0 -0.55 0.45 -1 1 -1Z"
                              stroke-dasharray="64"
                              stroke-dashoffset="64">
                            <animate attributeName="stroke-dashoffset" dur="0.6s" fill="freeze" values="64;0"/>
                        </path>
                        <path d="M7 4v-2M17 4v-2" stroke-dasharray="4" stroke-dashoffset="4">
                            <animate attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" fill="freeze"
                                     values="4;0"/>
                        </path>
                        <path d="M7 11h10" fill="var(--content-positive)" stroke-dasharray="12" stroke-dashoffset="12">
                            <animate attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" fill="freeze"
                                     values="12;0"/>
                        </path>
                        <path d="M7 15h7" stroke-dasharray="8" stroke-dashoffset="8">
                            <animate attributeName="stroke-dashoffset" begin="1s" dur="0.2s" fill="freeze"
                                     values="8;0"/>
                        </path>
                    </g>
                </svg>
                <span th:text="${(age !=null ? age + ' ans' : '')} + ' ' + ${#temporals.format(patient?.birthDate, '(dd/MM/yyyy)')}"></span>
            </div>
            <div class="patient-info">
                <svg height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 8.5l7 -5.5l7 5.5v12.5h-4v-8l-1 -1h-4l-1 1v8h-4v-12.5Z" fill="var(--content-accent)"
                          fill-opacity="0">
                        <animate attributeName="fill-opacity" begin="1.1s" dur="0.15s" fill="freeze" values="0;0.3"/>
                    </path>
                    <g fill="none" stroke="var(--content-secondary)" stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="2">
                        <path d="M4.5 21.5h15" stroke-dasharray="16" stroke-dashoffset="16">
                            <animate attributeName="stroke-dashoffset" dur="0.2s" fill="freeze" values="16;0"/>
                        </path>
                        <path d="M4.5 21.5v-13.5M19.5 21.5v-13.5" stroke-dasharray="16" stroke-dashoffset="16">
                            <animate attributeName="stroke-dashoffset" begin="0.2s" dur="0.2s" fill="freeze"
                                     values="16;0"/>
                        </path>
                        <path d="M2 10l10 -8l10 8" stroke-dasharray="28" stroke-dashoffset="28">
                            <animate attributeName="stroke-dashoffset" begin="0.4s" dur="0.4s" fill="freeze"
                                     values="28;0"/>
                        </path>
                        <path d="M9.5 21.5v-9h5v9" stroke-dasharray="24" stroke-dashoffset="24">
                            <animate attributeName="stroke-dashoffset" begin="0.7s" dur="0.5s" fill="freeze"
                                     values="24;0"/>
                        </path>
                    </g>
                </svg>
                <span th:text="${patient?.postalAddress ?: 'inconnu'}"></span>
            </div>
            <div class="patient-info">
                <svg height="32" viewBox="0 0 24 24" width="32" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 3c0.5 0 2.5 4.5 2.5 5c0 1 -1.5 2 -2 3c-0.5 1 0.5 2 1.5 3c0.39 0.39 2 2 3 1.5c1 -0.5 2 -2 3 -2c0.5 0 5 2 5 2.5c0 2 -1.5 3.5 -3 4c-1.5 0.5 -2.5 0.5 -4.5 0c-2 -0.5 -3.5 -1 -6 -3.5c-2.5 -2.5 -3 -4 -3.5 -6c-0.5 -2 -0.5 -3 0 -4.5c0.5 -1.5 2 -3 4 -3Z"
                          fill="var(--content-accent)" fill-opacity="0"
                          stroke="var(--content-secondary)" stroke-dasharray="64" stroke-dashoffset="64"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2">
                        <animate attributeName="fill-opacity" begin="0.7s" dur="0.15s" fill="freeze" values="0;0.3"/>
                        <animate attributeName="stroke-dashoffset" dur="1.2s" fill="freeze" values="64;0"/>
                    </path>
                </svg>
                <span th:text="${patient?.phoneNumber ?: 'inconnu'}"></span>
            </div>
            <div class="patient-info">
                <svg height="32" viewBox="0 0 576 512" width="32" xmlns="http://www.w3.org/2000/svg">
                    <path d="M142.4 21.9c5.6 16.8-3.5 34.9-20.2 40.5L96 71.1V192c0 53 43 96 96 96s96-43 96-96V71.1l-26.1-8.7c-16.8-5.6-25.8-23.7-20.2-40.5s23.7-25.8 40.5-20.2l26.1 8.7c26.1 8.7 43.7 33.1 43.7 60.7V192c0 77.2-54.6 141.6-127.3 156.7C231 404.6 278.4 448 336 448c61.9 0 112-50.1 112-112v-70.7c-28.3-12.3-48-40.5-48-73.3c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3V336c0 97.2-78.8 176-176 176c-92.9 0-168.9-71.9-175.5-163.1C87.2 334.2 32 269.6 32 192V71.1c0-27.5 17.6-52 43.8-60.7l26.1-8.7c16.8-5.6 34.9 3.5 40.5 20.2M480 224a32 32 0 1 0 0-64a32 32 0 1 0 0 64" fill="var(--content-accent)" fill-opacity="0"
                          stroke="var(--content-secondary)" stroke-dasharray="3200" stroke-dashoffset="3200" stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="35">
                        <animate attributeName="stroke-dashoffset" dur="1.2s" fill="freeze" values="3200;0"/>
                        <animate attributeName="fill-opacity" begin="0.6s" dur="0.6s" fill="freeze" values="0;0.3"/>
                    </path>
                </svg>
                <span th:text="${assessment?.getTriggerTermsCount() ?: '0'}"></span>
                <div>
                    <div class="patient-gauge-container"
                         th:switch="${#strings.toUpperCase(assessment?.getRiskLevel())}">
                        <div class="drop none" th:case="NONE"></div>
                        <div class="drop borderline" th:case="BORDERLINE"></div>
                        <div class="drop indanger" th:case="IN_DANGER"></div>
                        <div class="drop earlyonset" th:case="EARLY_ONSET"></div>
                        <div class="drop none" th:case="*"></div>
                        <div class="gauge">
                            <div class="gauge-section none"></div>
                            <div class="gauge-section borderline"></div>
                            <div class="gauge-section indanger"></div>
                            <div class="gauge-section earlyonset"></div>
                        </div>
                    </div>
                    <div class="patient-gauge-labels">
                        <div class="gauge-label">Aucun risque</div>
                        <div class="gauge-label">Risque limité</div>
                        <div class="gauge-label">Danger</div>
                        <div class="gauge-label">Apparition précoce</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="patient-subtitle">
                <h2>Notes du patient</h2>
            </div>
            <div class="container-textarea">
                <textarea-component>
                    <form method="post" th:action="@{/note}" th:object="${noteDto}">
                        <input name="patient"
                               th:value="${patient?.id}"
                               type="hidden"/>
                        <textarea
                                autofocus maxlength="1000" minlength="10"
                                name="note"
                                placeholder="Écrivez votre note ici..." required th:field="*{note}">
                        </textarea>
                        <span class="span"
                              th:errors="*{note}"
                              th:if="${#fields.hasErrors('note')}">
                        </span>
                        <button class="btn" type="submit">Ajouter</button>
                    </form>
                </textarea-component>
            </div>
            <div class="container-timeline">
                <timeline-component open="false" th:csrf="${_csrf.token}" th:each="note : ${notes?.data}"
                                    th:noteId="${note.id}" th:patientId="${patient.id}">
                    <div class="timeline">
                        <div class="timeline-container">
                            <div class="timeline-icon"></div>
                            <div class="timeline-body">
                                <span th:text="${#temporals.format(note.createdAt, 'EE dd MMM yy')}"></span>
                                <p th:text="${note.note}"></p>
                                <div class="timeline-actions">
                                    <div class="timeline-edit">
                                        <svg height="15" viewBox="0 0 512 512" width="15"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0l-30.1 30l97.9 97.9l30.1-30.1c21.9-21.9 21.9-57.3 0-79.2zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5l167.3-167.4l-98-98zM96 64c-53 0-96 43-96 96v256c0 53 43 96 96 96h256c53 0 96-43 96-96v-96c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32z"
                                                  fill="currentColor"/>
                                        </svg>
                                    </div>
                                    <form class="timeline-delete" method="post"
                                          th:action="@{/note/{id}(id=${note.id}, patientId=${patient.id})}">
                                        <input name="_method" type="hidden" value="DELETE"/>
                                        <button class="btn-hidden" type="submit">
                                            <svg height="15"
                                                 onclick="if(confirm('Êtes-vous sûr de vouloir supprimer cette note ?')) this.parentNode.submit();"
                                                 viewBox="0 0 448 512"
                                                 width="15"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0h120.4c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64s14.3-32 32-32h96zM32 128h384v320c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64zm96 64c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16m96 0c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16m96 0c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16"
                                                      fill="currentColor"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </timeline-component>
            </div>
            <pagination-component
                    class="app-pagination"
                    th:current-page="${notes?.currentPage !=null ? notes.currentPage + 1 : 1}"
                    th:page-size="${notes?.pageSize !=null ? notes.pageSize : 5}"
                    th:total-elements="${notes?.totalElements !=null ? notes.totalElements : 0}"
                    th:total-pages="${notes?.totalPages !=null ? notes.totalPages : 1}">
            </pagination-component>
        </div>
    </div>
</main>
</body>
</html>