name: Java CI

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "dev", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Compile
        run: mvn compile --batch-mode

      - name: Run tests
        run: mvn verify --batch-mode

      - name: Build artifacts
        run: mvn package --batch-mode -DskipTests